* {
    -color :  #0a5378;
    -white : #efefef;
    -gray : #dfdfdf;
    -darkGray: #bfbfbf;
    -black : #202020dd;
    -abort : #e74c3c;
}
.root{
    -fx-background-color : -white;
    -fx-fill-width : true;
    -fx-color : -color;
    -fx-fill-height : true;
    -fx-font-family: 'Segoe UI';
    -fx-focus-color : transparent;
    -fx-faint-focus-color: transparent;
}

/*
 * **********
 * Labels
 * **********
*/
.label {
    -fx-text-fill : -black;
}
#navLabel {
    -fx-text-fill : -white;
}

/*
 * **********
 * TextField
 * **********
*/
.text-field{
    -fx-background-color : -white;
    -fx-border-color : -darkGray;
}
.text-field:hover {
    -fx-border-color : -black;
    -fx-cursor: text;
}
.text-area:hover {
    -fx-border-color : -black;
    -fx-cursor: text;
}

/*
 * **********
 * Buttons
 * ********** 
 */
.button {
    -fx-background-color : #0080FF;
    -fx-text-fill: -white;
}
.button:default {
    -fx-background-color : #0080FF;
    -fx-text-fill: -white;
}
.button:cancel {
    -fx-background-color : -abort;
}
.button:hover {
    -fx-background-color : #004C99;
    -fx-inner-border : -darkGray;
}
.toggle-button {
    -fx-background-color : -gray;
}
.toggle-button:selected {
    -fx-background-color : -darkGray;
}

/*
 * **********
 * Checkbox
 * **********
 */
.check-box>*.box {
    -fx-background-color : -white;
    -fx-border-color : -darkGray;
}
.check-box:selected>*.box>*.mark {
    -fx-background-color : -black;
}
.check-box:indeterminate>*.box>*.mark {
    -fx-background-color : -black;
}
.check-box>*.box:hover {
    -fx-border-color : -black;
    -fx-cursor: hand;
}

/*
 * **********
 * Table
 * **********
 */
.table-view {
    -fx-background-color: transparent;
    -fx-text-alignment: right;
}
.table-row-cell{
    -fx-table-cell-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border-color: #0b72a5;
    -fx-border-width: 0 0 1 0;
    -fx-text-alignment: CENTER;
}
.table-row-cell:hover {
    -fx-background-color: -gray;
}
.table-row-cell:selected {
    -fx-background-color: #0c87c4;
}
.table-row-cell:disable {
    -fx-text-background-color: -darkgray;
}
.table-row-cell:empty{
    -fx-background-color:transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-row-cell:empty:hover{
    -fx-background-color:transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-view .column-header {
    -fx-background-color : #0b72a5;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
.table-view .scroll-bar * {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;

    fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
}
/*
 * **********
 * ComboBox
 * **********
*/
.combo-box {
    -fx-background-color : -white;
    -fx-border-color : -darkGray;
}
.combo-box:hover {
    -fx-border-color : -black;
    -fx-cursor: hand;
}
.combo-box .list-cell {
    -fx-text-fill : -black;
}

/*
 * **********
 * ScrollPane
 * **********
 */
.scroll-pane>*.scroll-bar {
    -fx-background-color : -gray;
}
.scroll-pane>*.scroll-bar>*.thumb {
    -fx-background-color : -color;
}

/*
 * **********
 * ID
 * **********
*/
#navLabel:hover {
    -fx-background-color : #063d59;
}
#navMenu:hover {
    -fx-background-color : -gray;
}
#RegisterScrollPane {
    -fx-border-color : -darkGray;
}

/*
 * **********
 * DIALOG
 * **********
*/
.dialog-pane {
    -fx-background-color: -fx-background;
    -fx-padding: 0;
}
.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-text-fill: black;
    -fx-font-size:13.0px;
}
.dialog-pane .button{
    -fx-background-color : #0080FF;
    -fx-text-fill: -white;
}
.dialog-pane .button:hover{
    -fx-background-color : #004C99;
    -fx-inner-border : -darkGray;
}
